
{% extends 'base.html' %}
{% block title %}Rooms Page{% endblock %}
{% block content %}

    <h1>Current Rooms</h1>
    <p>
        These are the current rooms in our database {{ meeting.start_time }} in <strong> {{ meeting.room.room_name }}</strong> room.
    </p>

    <ul>
        {% for room in rooms %}
            <li>
                {{ room }}
            </li>
        {% endfor %}

    </ul>

    <p> Click here to go back <strong><a href="{% url 'home' %}">Home</a></strong></p>

{% endblock %}